*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
}

/*header*/

header{
    height: 130px;
    margin-bottom: 30px;
}

header img{
    width: 200px;
    padding-right: 20px;
    border-right: 2px solid #f0f0f0;
}


header li{
    list-style-type: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    color: #ababab;
    text-transform: uppercase;
    margin: 0 8px;
    line-height: 80px;
    font-size: 18px;
}


/* first section */

section:first-child{
    margin-bottom: 30px;
}
 
/*second section*/

section:last-child{
    margin-bottom: 10px;
    padding-bottom: 25px;
}

.second-section::after{
    content:'';
    display: table;
    clear: both;
}

.second-section-top{
    height: 80px;
    margin-bottom: 25px;
}

.aside{
    width: 20%;
    float: left;
}

.central-section{
    width: calc(60% - 50px);
    float: left;
    margin: 0 25px;
}

/*footer*/

footer{
    height: 50px;
}



/*debug*/

 /* header{
    background-color: #e579e6;
}  */

section:first-child{
    background-color: #e1d67a;
    height: 450px;
}

section:last-child{
    background-color: #0088f7;
}

.second-section-top{
    background-color: #abcfe7;
}

.aside{
    height: 500px;
    background-color: #abcfe7;
}

.central-section{
    background-color: #abcfe7;
    height: 500px;
}

footer{
    background-color: #8701fe;
}
