*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 70px;
}

/*header*/

header{
    height: 130px;
    margin-bottom: 30px;
    padding-left: 20px;
}

header img{
    width: 200px;
    padding-right: 20px;
    border-right: 2px solid #f0f0f0;
}


header li{
    list-style-type: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    color: #ababab;
    text-transform: uppercase;
    margin: 0 8px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
}

/* imgs shadow */
.shadow{
    background-color: rgba(0, 0,0, 0.2);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* first section */

section:first-child{
    margin-bottom: 30px;
    background-image: url(../img/banner-3.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    border-radius: 15px;
}

.first-section-text{
    color: white;
    padding: 300px 340px 60px 30px;
    margin-right: 270px;
}

.first-section-title{
    font-size: 25px;
}

/*second section*/

.second-section::after{
    content:'';
    display: table;
    clear: both;
}


section:last-child{
    margin-bottom: 10px;
    padding-bottom: 25px;
}

#second-section-top{
    margin-bottom: 25px;
    margin-left: 25px;
    line-height: 20px;
}

#second-section-title{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#second-section-text{
    color: #ababab;
}


/* immagini seconda sezione */
.left-aside-img, .central-section-img, .right-aside-img, .second-left-aside-img, .second-central-section-img, .second-right-aside-img{
    background-size: cover;
    width: 100%;
    height: 260px;
    background-position: center;
}

.left-aside-img{
    background-image: url(../img/img-1.jpg);
    border-radius: 15px;
}

.central-section-img{
    background-image: url(../img/img-2.jpg);
    border-radius: 15px;
}

.right-aside-img{
    background-image: url(../img/img-3.jpg);
    border-radius: 15px;
}

.second-left-aside-img{
    background-image: url(../img/img-4.jpg);
}

.second-central-section-img{
    background-image: url(../img/img-5.jpg);
}

.second-right-aside-img{
    background-image: url(../img/img-6.jpg);
}
 
/* testi seconda sezione */
h3{
    margin:25px 20px 10px 20px;
}

.aside-text, .central-section-text{
    color: grey;
    margin: 20px 20px 20px 20px;
}

.generalities{
    height: 35px;
    font-size: 14px;
}

.generalities>*{
    display: inline-block;
    vertical-align: middle;
    margin: 0px 5px;
}

.generalities-img{
    background-image: url(../img/prince.jpg);
    width: 35px;
    height: 35px;
    background-position: center;
    background-size: contain;
    border-radius: 50px;
}

.generalities-date{
    margin: 0;
    padding-right: 10px;
    border-right: 1px solid lightgrey;
}

/* seconda sezione - colonne laterali */
.aside{
   width: calc(33% - 16.6px);
   float: left;
   border-radius: 15px;
}

/* seconda sezione - sezione centrale */
.central-section{
   width: calc(33% - 16.6px);
   float: left;
   margin: 0px 25px;
   border-radius: 15px;
}



.second{
    margin-top: 40px;
}





/* --- debug --- */

 /* header{
    background-color: #e579e6;
}  */

/* section:first-child{
    background-color: #e1d67a;
    height: 450px;
} */

/* section:last-child{
    background-color: #0088f7;
} */

/* .second-section-top{
    background-color: #abcfe7;
    height: 80px;
} */

/* .aside{
    height: 500px;
    background-color: #abcfe7;
} */

/* .central-section{
    background-color: #abcfe7;
    height: 500px;
} */

/* footer{
    background-color: #8701fe;
} */
