*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container{
    width: 80%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 70px;
}

/*header*/

header{
    height: 130px;
    margin-bottom: 30px;
    padding-left: 20px;
}

header img{
    width: 200px;
    padding-right: 20px;
    border-right: 2px solid #f0f0f0;
}


header li{
    list-style-type: none;
    display: inline-block;
}

li a{
    text-decoration: none;
    color: #ababab;
    text-transform: uppercase;
    margin: 0 8px;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
}

/* imgs shadow */
.shadow{
    background-color: rgba(0, 0,0, 0.2);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

/* first section */

section:first-child{
    margin-bottom: 30px;
    background-image: url(../img/banner-3.jpg);
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    border-radius: 15px;
}

.first-section-text{
    color: white;
    padding: 300px 340px 60px 30px;
    margin-right: 270px;
}

.first-section-title{
    font-size: 25px;
}

/*second section*/

.second-section::after{
    content:'';
    display: table;
    clear: both;
}

section:last-child{
    margin-bottom: 10px;
    padding-bottom: 25px;
}

#second-section-top{
    margin-bottom: 25px;
    line-height: 20px;
}

#second-section-title{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

#second-section-text{
    color: #ababab;
}


/* immagini seconda sezione */
.left-aside-img, .central-section-img, .right-aside-img{
    background-size: cover;
    width: 100%;
    height: 210px;
    background-position: center;
}

.left-aside-img{
    background-image: url(../img/img-1.jpg);
}

.central-section-img{
    background-image: url(../img/banner-2.jpg);
}

.right-aside-img{
    background-image: url(../img/img-3.jpg);
}
 
/* testi seconda sezione */
h4{
    margin:25px 0px 10px 0;
}

.aside-text, .central-section-text{
    color: grey;
}

/* seconda sezione - colonne laterali */
.aside{
   width: 20%;
   float: left;
   border-radius: 15px;
}

/* seconda sezione - sezione centrale */
.central-section{
    width: calc(60% - 50px);
    float: left;
    margin: 0 25px;
}

/*footer*/
footer{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
}

.heart::after{
    content: '\2665';
    color: red;
    font-size: 25px;
  }



/* --- debug --- */

 /* header{
    background-color: #e579e6;
}  */

/* section:first-child{
    background-color: #e1d67a;
    height: 450px;
} */

/* section:last-child{
    background-color: #0088f7;
} */

/* .second-section-top{
    background-color: #abcfe7;
    height: 80px;
} */

/* .aside{
    height: 500px;
    background-color: #abcfe7;
} */

/* .central-section{
    background-color: #abcfe7;
    height: 500px;
} */

/* footer{
    background-color: #8701fe;
} */
